*{
    /*font-family: 'Patua One', cursive;*/
}
/*body{*/
/*    background-color: grey;*/
/*}*/

.choose{
    margin: auto;
    /*width: 70%;*/
    /*border: 2px solid black;*/
    display: flex;
}

#group1, #group2{
    border: 4px solid #222222;
    /*width: 50%;*/
    height: 50px;
    font-size: 25px;
    cursor: pointer;
}


/*#group1{*/
/*    background-color: aliceblue;*/
/*    !*color: #FFFFFF;*!*/
/*}*/
/*#group2{*/
/*    background-color: grey;*/
/*    !*color: #FFFFFF;*!*/
/*}*/

#h1{
    margin: auto;
    width: 50%;
    text-align: center;
}
#login{display: block;}
#signup{display: none;}


.button {
    border: 0;
    outline: none;
    border-radius: 20px;
    padding: 15px 0;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #7a00ff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition:all.5s ease;
    -webkit-appearance: none;
    border: 1px solid #222222;
}
.button:hover{
    background: white;
    transform: scale(1.1);
    color: #7a00ff;
}

.button-block {
    width: 100%;
}
.forgot {
    text-align: right;
}
.forgot a{
    color: grey;
}

.foot{
    bottom: 0;
    padding: 20px;
    width: 100%;
    background-color: #222222;
    color: white;
    text-align: center;
}
.col-lg-12 i{
    margin:10px 10px 20px 10px;
    transition: 1s;
    color: white;
}
.footer-copyright{
    margin: 10px;
}
.col-lg-12 i:hover{
    transform: scale(1.2);
}
.footer-copyright a{
    font-size: 15px;
    color: white;
}
.footer-copyright a:hover{
    color: white;
}
#checkemail{
    border-radius: 10px;
    margin-top:10px;
}

/*.full{*/

/*    background-image: url("/public/assets/bg_nav.jpg");*/
/*}*/

.mainpage{
    /*min-height: 90vh;*/
    /*width: 100%;*/
}

.fa-google{
    color: dodgerblue;
}
.google:hover .fa-google{
    color: white;
}

.showPage{
    height: 100%;
    min-width: 300px;
    /*width: 100%;*/
}

.fa{
    /*margin: 11px 5px 5px 5px;*/
    /*font-size: 24px;*/
    cursor: pointer;
}

.regPassword{
    display: flex;
    /*flex-direction: row;*/
    /*align-items: baseline;*/
}

#Oeye, #Ceye{
    /*margin: 11px 5px 5px 5px;*/
    font-size: 24px;
    cursor: pointer;
}
#Oeye{
    display: block; background: white;
}
#Ceye{
    display: none; background: white;
}

.loginp{
    background-color: lightgrey;
    border-radius: 20px;
    /*padding: 10px;*/
    color: grey;
    width: 100%;
    min-width: 200px;
    border: none;
    height: 45px;
    font-size: 20px;
    /*transition: border-color 0.25s ease, box-shadow 0.25s ease;*/
}

.eyes{
    /*position: absolute;*/
    z-index: 2;
}


#group1, #group2 {
   align-items: center;
   background-color: #fff;
   border: 2px solid #000;
   box-sizing: border-box;
   color: #000;
   cursor: pointer;
   display: inline-flex;
   fill: #000;
   font-family: Inter,sans-serif;
   font-size: 16px;
   font-weight: 600;
   height: 48px;
   justify-content: center;
   letter-spacing: -.8px;
   line-height: 24px;
   /*min-width: 140px;*/
   outline: 0;
   padding: 0 17px;
   text-align: center;
   text-decoration: none;
   transition: all .3s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

/*#group1, #group2:focus {*/
/*    color: #171e29;*/
/*}*/

#group1:hover , #group2:hover {
    border-color: #7a00ff;
    color: #7a00ff;
    fill: #7a00ff;
    font-size: 20px;
    transition: 0.30s ease;
}

/*#group1, #group2:active {*/
/*    border-color: #06f;*/
/*    color: #06f;*/
/*    fill: #06f;*/
/*}*/

@media (min-width: 768px) {
    #group1, #group2 {
        min-width: 170px;
    }
}


/* From uiverse.io by @Jay-9527 */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #7a00ff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #7a00ff;
}

input:checked + .slider:before {
    transform: translateX(1.5em);
}