*{
    /*font-family: 'Patua One', cursive;*/
}
/*body{*/
/*    background-color: grey;*/
/*}*/

.choose{
    margin: auto;
    width: 70%;
    border: 2px solid black;
    display: flex;
}

#group1, #group2{
    border: 2px solid #222222;
    width: 50%;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
}


/*#group1{*/
/*    background-color: aliceblue;*/
/*    !*color: #FFFFFF;*!*/
/*}*/
/*#group2{*/
/*    background-color: grey;*/
/*    !*color: #FFFFFF;*!*/
/*}*/

#h1{
    margin: auto;
    width: 50%;
    text-align: center;
}
#login{display: block;}
#signup{display: none;}

.loginp{
    background-color: lightgrey;
    border-radius: 20px;
    padding: 10px;
    color: grey;
    width: 100%;
    border: none;
    height: 50px;
    font-size: 25px;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.button {
    border: 0;
    outline: none;
    border-radius: 20px;
    padding: 15px 0;
    font-size: 25px;
    color: #FFFFFF;
    background-color: #7a00ff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition:all.5s ease;
    -webkit-appearance: none;
    border: 1px solid #222222;
}
.button:hover{
    background: white;
    transform: scale(1.1);
    color: #7a00ff;
}

.button-block {
    width: 100%;
}
.forgot {
    text-align: right;
}
.forgot a{
    color: grey;
}

#Oeye{
    display: block; background: white;
}
#Ceye{
    display: none; background: white;
}
.foot{
    bottom: 0;
    padding: 20px;
    width: 100%;
    background-color: #222222;
    color: white;
    text-align: center;
}
.col-lg-12 i{
    margin:10px 10px 20px 10px;
    transition: 1s;
    color: white;
}
.footer-copyright{
    margin: 10px;
}
.col-lg-12 i:hover{
    transform: scale(1.2);
}
.footer-copyright a{
    font-size: 15px;
    color: white;
}
.footer-copyright a:hover{
    color: white;
}
#checkemail{
    border-radius: 10px;
    margin-top:10px;
}

/*.full{*/

/*    background-image: url("/public/assets/bg_nav.jpg");*/
/*}*/

.mainpage{
    height: 90vh;
}

.showPage{
    height: 100%;
}

.fa{
    margin: 11px 5px 5px 5px;
    font-size: 24px;
    cursor: pointer;
}

.regPassword{
    display: flex;
}

#Oeye, #Ceye{
    margin: 11px 5px 5px 5px; font-size: 24px; cursor: pointer;
}
#Oeye{
    display: block; background: white;
}
#Ceye{
    display: none; background: white;
}

.loginp{
    background-color: lightgrey;
    border-radius: 20px;
    padding: 10px;
    color: grey;
    width: 100%;
    border: none;
    height: 50px;
    font-size: 25px;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}


#group1, #group2 {
   align-items: center;
   background-color: #fff;
   border: 2px solid #000;
   box-sizing: border-box;
   color: #000;
   cursor: pointer;
   display: inline-flex;
   fill: #000;
   font-family: Inter,sans-serif;
   font-size: 16px;
   font-weight: 600;
   height: 48px;
   justify-content: center;
   letter-spacing: -.8px;
   line-height: 24px;
   min-width: 140px;
   outline: 0;
   padding: 0 17px;
   text-align: center;
   text-decoration: none;
   transition: all .3s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

#group1, #group2:focus {
    color: #171e29;
}

#group1, #group2:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

#group1, #group2:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

@media (min-width: 768px) {
    #group1, #group2 {
        min-width: 170px;
    }
}

