/* Navbar */
@import "./css/authorization.scss";

body{
    background: url('/public/assets/backgr.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-nav a{
    font-size: 18px;
}

.loading{
    margin-top: 18%;
}

* {
    color: #57419D;
}

.main-navbar{
    /*position: fixed;*/
    width: 100%;

    /*z-index: 1;*/
}

.pets{
    min-height: 80vh;
    /*height: 80vh;*/
}
.full{
    min-height: 80vh;
}

.footer{
    border-top: 2px solid #7a00ff;
    /*margin-top: 10%;*/
}

.showPage{
    box-shadow: 0 0 20px;
    /*padding: 50px;*/
    background-color: white;
    /*margin-right: 100px;*/
    border-radius: 20px;
}

.product{
    box-shadow: 0 0 20px;
    /*padding: 50px;*/
    background-color: white;
    /*margin-right: 100px;*/
    border-radius: 20px;
}

.page{
    /*z-index: -1;*/
    position: fixed;
}

.homepage{
    height: 75vh;
    /*margin-top: 10%;*/
    /*z-index: -1;*/
}

.card-img-top{
    object-fit: cover;
}

.col-md-3{
    opacity: 1;
    transition: .5s;
    transform: scale(.95);
    position: relative;
}

.col-md-3:hover{
    opacity: 1;
    transform: scale(1);
}

.col-md-3:hover .centered{
    opacity: 1;
    transform: scale(3);
}

.addtocart {
   background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
   border-radius: 8px;
   border-style: none;
   box-sizing: border-box;
   color: #FFFFFF;
   cursor: pointer;
   flex-shrink: 0;
   font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
   font-size: 16px;
   font-weight: 500;
   height: 4rem;
   padding: 0 1.6rem;
   text-align: center;
   text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
   transition: all .5s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.addtocart:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    .addtocart {
        padding: 0 2.6rem;
    }
}

/*.number{*/
/*    display: none;*/
/*}*/




   /* CSS */
.bbutton {
   background-color: #5643CC;
   border: 0 solid #E5E7EB;
   box-sizing: border-box;
   color: #FFFFFF;
   display: flex;
   font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   font-size: 1rem;
   font-weight: 700;
   justify-content: center;
   line-height: 1.75rem;
   padding: .75rem 1.65rem;
   position: relative;
   text-align: center;
   text-decoration: none #000000 solid;
   text-decoration-thickness: auto;
   width: 100%;
   max-width: 460px;
   position: relative;
   cursor: pointer;
   transform: rotate(-2deg);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.bbutton:focus {
    outline: 0;
}

.bbutton:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.bbutton:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .bbutton {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}


   /* CSS */
.nav-link {
   align-self: center;
   background-color: #fff;
   background-image: none;
   background-position: 0 90%;
   background-repeat: repeat no-repeat;
   background-size: 4px 3px;
   border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
   border-style: solid;
   border-width: 2px;
   box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
   box-sizing: border-box;
   color: #41403e;
   cursor: pointer;
   display: inline-block;
   font-family: Neucha, sans-serif;
   font-size: 1rem;
   line-height: 23px;
   outline: none;
   padding: .75rem;
   text-decoration: none;
   transition: all 235ms ease-in-out;
   border-bottom-left-radius: 15px 255px;
   border-bottom-right-radius: 225px 15px;
   border-top-left-radius: 255px 15px;
   border-top-right-radius: 15px 225px;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.nav-link:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.nav-link:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}



 /* CSS */
 .button-48 {
     appearance: none;
     background-color: #FFFFFF;
     border-width: 0;
     box-sizing: border-box;
     color: #000000;
     cursor: pointer;
     display: inline-block;
     font-family: Clarkson,Helvetica,sans-serif;
     font-size: 14px;
     font-weight: 500;
     letter-spacing: 0;
     line-height: 1em;
     margin: 0;
     opacity: 1;
     outline: 0;
     padding: 1.5em 2.2em;
     position: relative;
     text-align: center;
     text-decoration: none;
     text-rendering: geometricprecision;
     text-transform: uppercase;
     transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: baseline;
     white-space: nowrap;
 }

.button-48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #EBEBEB;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
    background-color: #FFFFFF;
}

.button-48 span {
    z-index: 1;
    position: relative;
}

.login{
    /*width: 500px;*/
    margin: auto;
}